*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  width: 70%;
  margin: 3em auto 0;
}

.outputContainer {
  width: 100%;
  height: 60px;
  padding-right: 1em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: dimgrey;
}

.output {
  color: white;
  font-size: 1.35em;
}

.keysGrid {
  background-color: dimgrey;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.calcBtn {
  height: 50px;
  border: 1px solid grey;
  font-size: 1.025em;
}

.orangeBtn {
  background-color: orange;
}

.span2 {
  grid-column: span 2;
}

/* full website */

.main-title {
  margin: 0;
  font-size: 2.5em;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  margin-right: 3em;
  font-size: 1.35em;
  display: flex;
  align-items: center;
}

.btw-links {
  margin: 0 0.5em;
  font-size: 1.5em;
}

.actual-subt {
  font-size: 2em;
}

.for-lorems {
  width: 100%;
  margin-right: 3em;
  font-size: 1.5em;
  padding: 0 1em;
}

.inside-calcP {
  display: flex;
  margin-top: 1em;
}

.right-text {
  width: 35%;
}

.actual-calc {
  width: 60%;
}

/* quote */

.quote-div {
  padding: 7em 12em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actual-quote {
  font-size: 1.35em;
}
